	#formTitle{
		background-color: blue;
		color: white;
	}
	#pageTitle{
		background-color: blue;
		color:white;
	}
	#trainsDivTitle{
		background-color: blue;
		color:white;
		text-align: center;		
	}